Codebusters/TestCodebustersProject/bin/Debug/net7.0/CoverletSourceRootsMapping
Codebusters/TestCodebustersProject/obj/rider.project.model.nuget.info
Codebusters/TestCodebustersProject/obj/rider.project.restore.info
Codebusters/TestCodebustersProject/obj/TestCodebustersProject.csproj.nuget.g.props
Codebusters/TestCodebustersProject/obj/Debug/net7.0/TestCodebustersProject.assets.cache
Codebusters/TestCodebustersProject/obj/Debug/net7.0/TestCodebustersProject.csproj.AssemblyReference.cache
Codebusters/TestCodebustersProject/obj/Debug/net7.0/TestCodebustersProject.GeneratedMSBuildEditorConfig.editorconfig
Codebusters/TestCodebustersProject/obj/rider.project.model.nuget.info
Codebusters/TestCodebustersProject/obj/rider.project.restore.info
Codebusters/TestCodebustersProject/obj/TestCodebustersProject.csproj.nuget.g.props
Codebusters/TestCodebustersProject/obj/Debug/net7.0/TestCodebustersProject.csproj.AssemblyReference.cache
Codebusters/TestCodebustersProject/obj/Debug/net7.0/TestCodebustersProject.GeneratedMSBuildEditorConfig.editorconfig
